<h2>Buscando: {{searching}}</h2>
<hr>

<div class="alert alert-primary" role="alert" *ngIf="catalog.length == 0">
  No hay coincidencias!
</div>

<div class="card-columns">
<div class="card" *ngFor="let item of catalog">
   <img src="{{item.img}}" class="card-img-top img-fluid" alt="...">
   <div class="card-body">
     <h5 class="card-title">{{item.name}}</h5>
     <p class="card-text">{{item.desc}}</p>
     <p class="card-text"><small class="text-muted">{{item.date}} {{item.time}}</small></p>
     <button type="button" class="btn btn-success btn-block" (click)="viewDetail(item.id)">Ver mas...</button>
   </div>
 </div>

</div>
