

<div class="card mb-3 border-success">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{detail.img}}" class="card-img img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{detail.name}}</h5>
        <p class="card-text">{{detail.desc}}</p>
        <p class="card-text"><small class="text-muted">{{detail.date}} {{detail.time}}</small></p>
      </div>
    </div>

  </div>
</div>
<br>

<button type="button" class="btn btn-success btn-block" (click)="back()">Volver</button>
